
nav {
    background-color: white;
    position: fixed;
    width: 100%;
    margin-left: -7px;
    margin-top: -9px;
    height: 55px;
    display: flex;
    border-bottom: groove 1px rgba(0, 0, 0, 0.158);
    z-index: 300;
}

nav > h1{
    font-family: 'BillabongW00-Regular',sans-serif;
    font-size: 35px;
    color: rgba(26, 24, 24, 0.959);
}

nav > h1,nav > div{
    margin: auto;
    padding: auto;
}

nav > div#search{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 100px;
}

nav > div#search input {
    background-color:  rgba(128, 128, 128, 0.041);
    border: 1px groove rgba(0, 0, 0, 0.144);
    border-radius: 3px;
    height: 22px;
    width: 130px;
    padding: 2px 20px 2px 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.514);
}
nav > div#search input:focus {
    outline: none;
    text-align: left;
}

nav > div#search > i {
    color:  rgba(0, 0, 0, 0.425);
    font-size: 12px;
    margin-right: -20px;
    position: absolute;
    margin-right: 110px;
}

nav > div#search > div#dropdown_search + i {
    transition: 0.1s;
    margin-right: 155px;
}

div#dropdown_search{
    position: relative;
    display: inline-block
}

div#dropdown_filters, div#profile_logout{
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    width: 220px;
    margin-left: -27px;
    margin-top: 5px;
    border: 1px solid #ddd;
    z-index: 1;
    max-height: 300px;
    overflow-y: auto;
}

div#dropdown_filters::-webkit-scrollbar{
    width: 3px;
}


img.profile_avatar{
    border-radius: 50%;
    transform: scale(0.3);
    margin-left: -25px;
}

div#nav_btns{
    margin-top: -35px;
}

img#profile {
    border-radius: 50%;
    transform: scale(0.2);
    padding: 0px !important;
    margin-right: -20px;
    border: 10px double rgba(255, 0, 0, 0);
}

img#profile:hover {
    border: 10px double rgba(0, 0, 0, 1);
}

div#dropdown_filters > span, div#profile_logout > span{
    color: black;
    padding: 12px 2px;
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: white;
    height: 35px;
    line-height: 15px;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px groove rgba(54, 47, 47, 0.075);
}

div#dropdown_filters span:hover, div#profile_logout span:hover{
    background-color:  rgba(128, 128, 128, 0.021);
    cursor: pointer;
}

div#dropdown_filters > span > span, div#profile_logout{
    margin-left: -25px;
    color: rgba(0, 0, 0, 0.89);
}

div#dropdown_filters > span > span >span{
    color: rgba(0, 0, 0, 0.466);
}

div#nav_btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div#nav_btns > i {
    padding:0 10px;
}

div#nav_btns > i:hover {
    color: rgba(0, 0, 0, 0.8);
}

div#nav_btns > i.fa-heart {
    padding:0 20px 0 37px;
    margin-right: -35px;
}

div#nav_btns > i.fa-power-off {
    padding: 0 40px 0 20px;
    margin-left: -20px;
}

div#nav_btns > i.fa-home {
    padding-left: unset;
    margin-right: 25px;
}

div#profile_logout {
    margin-top: 100px;
    margin-left: 120px !important;
    width: 150px;
    margin-left: 60px;
    border-radius: 5px;
}

div#profile_logout:hover {
    display: block;
}

div#profile_logout > span {
    background-color: unset;
    padding: 2px 10px !important;
}

div#profile_logout > span:hover {
    background-color: #fff;
}
